.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
  margin: 80px;
  border-radius: 10px;
  color: rgb(8, 129, 160);
  border: none;
  box-shadow: 8px 5px 5px rgb(4, 52, 65);
}

#timer {
  padding-top: 20px;
  height: 50px;
  color: rgb(197, 220, 228);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
#text {
  height: 70px;
  color: rgb(197, 220, 228);
  font-size: 50px;
  text-align: center;
  align-items: center;
}
h2 {
  margin-top: 50px;
}
.start {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
}
.background {
  overflow: hidden;
  background-image: url(../img/background1.png);
  background-repeat: no-repeat;
  width: 1100px;
  height: 800px;
  position: relative;
  text-align: center;
}
.frontleft {
  background-image: url(../img/frontleft.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 800px;
  z-index: 5;
  position: absolute;
  bottom: -160px;
  left: 1px;
}
.frontright {
  background-image: url(../img/frontright.png);
  background-repeat: no-repeat;
  width: 275px;
  height: 800px;
  z-index: 5;
  position: absolute;
  bottom: -88px;
  left: 822px;
}
.coral {
  background-image: url(../img/coral.png);
  background-repeat: no-repeat;
  width: 175px;
  height: 213px;
  z-index: 5;
  position: absolute;
  bottom: 2px;
  left: 180px;
}
.seaweed {
  background-image: url(../img/seaweed.png);
  background-repeat: no-repeat;
  width: 180px;
  height: 240px;
  z-index: 5;
  position: absolute;
  bottom: 2px;
  left: 437px;
}

.jellyfish {
  offset-rotate: reverse;
  offset-rotate: 0deg;
  offset-rotate: auto;
}

.jellyfish {
  offset-path: path(
    'M1.00002 841C44.4668 770.851 261.801 852.295 440.713 622.826C619.626 393.357 571.114 337.773 861.022 223.038C1092.95 131.251 1099.44 36.7679 1073.7 1'
  );
  animation: move 12s linear infinite;
}
@keyframes move {
  to {
    offset-distance: 100%;
  }
}

.jellyfish {
  width: 100px;
  height: 100px;
  background: url(../img/медуза6.png) no-repeat;
  position: absolute;
  left: 5%;
  top: 1px;
}
.jellyfish1 {
  offset-rotate: reverse;
  offset-rotate: 0deg;
  offset-rotate: auto;
}

.jellyfish1 {
  offset-path: path(
    'M11.9999 872C155 523.5 55.4999 355 11.9999 262C-22.8001 187.6 30.4999 56.6667 61.4999 0.5'
  );
  animation: move 8s linear infinite;
}
@keyframes move {
  to {
    offset-distance: 100%;
  }
}

.jellyfish1 {
  width: 100px;
  height: 100px;
  background: url(../img/медуза7.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 1px;
}
.jellyfish2 {
  offset-rotate: reverse;
  offset-rotate: 0deg;
  offset-rotate: auto;
}

.jellyfish2 {
  offset-path: path(
    'M1136 954C1090.45 874.415 862.677 966.815 675.174 706.476C487.671 446.138 538.512 383.077 234.684 252.908C-8.37812 148.772 -15.1841 41.5795 11.7957 1'
  );
  animation: move 10s linear infinite;
}
@keyframes move {
  to {
    offset-distance: 100%;
  }
}

.jellyfish2 {
  width: 100px;
  height: 100px;
  background: url(../img/медуза8.png) no-repeat;
  position: absolute;
  left: 20%;
  top: 1px;
}
.bubbl-canvas {
  z-index: 1;
  height: 800px;
  width: 120px;
  position: absolute;
  top: -120px;
  left: 320px;
}
.fish {
  cursor: crosshair;
}

.fast-fish {
  height: 450px;
  width: 150px;
  position: absolute;
  bottom: 2px;
  right: -10px;
  z-index: 3;
}
.displayd {
  display: none;
}
@keyframes go-left {
  from {
    left: 0px;
  }
  to {
    left: 1000px;
  }
}
#fish5.fish-active {
  animation: go-left 11s ease-out 1 4s forwards;
  position: relative;
}
#fish6.fish-active {
  animation: go-left 9s ease-in-out 1 6s forwards;
  position: relative;
}
#fish7.fish-active {
  animation: go-left 8s ease-in 1 2s forwards;
  position: relative;
}
#fish8.fish-active {
  animation: go-left 9s linear 1 0.5s forwards;
  position: relative;
}
.slow-fish {
  height: 450px;
  width: 150px;
  position: absolute;
  top: 296px;
  left: -30px;
  z-index: 2;
}
@keyframes go-right {
  from {
    right: 0px;
  }
  to {
    right: 970px;
  }
}
#fish1.fish-active {
  animation: go-right 10s ease 1 1s forwards;
  position: relative;
}
#fish2.fish-active {
  animation: go-right 7s ease-in-out 1 4s forwards;
  position: relative;
}
#fish3.fish-active {
  animation: go-right 10s ease-in 1 1s forwards;
  position: relative;
}
#fish4.fish-active {
  animation: go-right 7s linear 1 0s forwards;
  position: relative;
}
